/* Start Banner Style */

#banner {
    height: 60vh;
    position: relative;
    background-size: cover;
}

#banner .overlay {
    opacity: 1;
    background: linear-gradient(to top, var(--dark-color), transparent 90%);
}

#banner .container {
    height: 100%;
}

#banner .container section {
    position: absolute;
    z-index: 2;
}

#banner .container section h1 {
    font-size: 70px;
    margin-bottom: 1.5rem;
    color: var(--white-color);
}

#banner .container section p {
    color: var(--white-color);
    margin-top: 5px;
}

/* End Banner Style */
